.am-main-content {
  &-card {
    @extend .col-sm-12, .col-md-3, .col-lg-3, .m-auto;
    &-detail {
      display: block;
      background-color: $white;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.47);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.47);
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.47);
      margin-top: 15px;
    }
    header {
      img {
        display: block;
        margin: auto;
        //max-width: 300px;
        max-height: 411.4px;
        }
    }
    &-block {
      padding: 15px;
      //max-height: 150px;
      //min-height: 150px;

      h2 {
        text-align: center;
        font-size: 1.5rem;
      }
      p {
        color : $gray-600;
        font-style: italic;
        text-align: center;
        min-height: 72px;
      }
    }
  }
}
